build/
runtime/Screenshots/
runtime/error_log.txt
runtime/cache/settings.dat
runtime/userConfig.cfg
runtime/cache/settings.dat
runtime/cache/settings.dat
runtime/userConfig.cfg.bak
lib/lwjgl-2.9.3.jar
lib/lwjgl-platform-2.9.3-natives-windows.jar
runtime/natives/
